.exercises{
  background-color: #1f1e1e;
  width: 100%;
  text-align: center;
  color: white;
  min-height: 100vh;

  h3{
    display: inline;
  }

  .modal-button{
    background-color: #1f1e1e;
    border: none;
  }

  .add-button{
    margin-bottom: 1%  ;
  }

  h1{
    margin-top: 1%;
  }
  ul {
    margin: 3% auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    button {
      border: none;
      background-color: #1f1e1e;
      color: white;
    }
  }

  .exercise-container{
    display: flex;
  }

  .image-container{
    width: 50%;

  img{
    width: 50%;
  }
  }
}

.grouping-filter{
  font-size: 2rem;
}
.selected-group{
  font-size: 3rem;
  color: #006edc !important;
}

.exercise-list-view{
  width: 50%;
}

.exercise-card{
  text-align: center;
  margin: 0 auto;
  border: 1px solid #006edc;
  width: 70%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 10rem;
  background-color: #353333;

  a{
    text-decoration: none;
  }
}

.add-new-exercise-button{
  background-color: #1f1e1e;
  border: none;
}

.exercise-delete-button{
  background-color: #353333;
  border: none;
}

.edit-exercise-button{
  background-color: #353333;
  border: none;
}
.add-exercise-note-button-text{
  font-size: 1rem;
}
