.sidebar-collapsed{
  background-color: #333333;
  color: #6c757d;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-expanded{
  background-color: #333333;
  color: #6c757d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav_icons{
    .nav_icon{
      width: 15%;
    }
  }

  span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin-left: 15%;
      font-weight: bold;
    }
    img{
      margin-right: 10%;
    }
  }
}

.sidebar-open{
  width: 20%;
  transition: 0.2s;
}

.sidebar-closed{
  width: 5%;
  transition: 0.2s;
}

.nav_icons{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 2rem;

  .nav_icon{
    width: 30%;
    margin-bottom: 2rem;
  }
}
