@import './components/sidebar.scss';
@import './components/home.scss';
@import './components/exercises.scss';
@import './components/calendar.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

.site-wrapper{
  display: flex;
  position: relative;
}

.not-found{
  height: 100vh;
  width: 100%;
  background-color: #1f1e1e;
  color: white;
  text-align: center;
}